.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.container {
	width: 100%;
	height: 100%
	margin: 0 auto;
}

#mobile-h1 {
	display: none;
}

header h1 {
	font-size: 5vw;
    line-height: 1em;
    font-weight: 600;
    text-align: left;
    float: left;
    margin-top: 30vw;
    padding-left: 1vw;
}

header img {
	padding-top: 10vw;
	padding-left: 0px; 
	width: 65%;
	float: left;
}

/*************** NAV ***************/

#desktop-nav {
	position: fixed;
    right: 0;
    top: 0;
    margin-right: 4vw;
    margin-top: 4vw;
    transform-origin: 100% 50%;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#desktop-nav ul {
  list-style-type: none;
}

#desktop-nav li {
  display: inline-block;
  padding: 15px;
}

#desktop-nav a {
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
  color: black;
}

#desktop-nav a:hover {
	color: #ba0913;
}

/*************** MOBILE NAV ***************/

#mobile-nav {
	display: none;
}

#mobile-nav ul {
	list-style-type: none;
}

#mobile-nav li {
	text-align: right;
	display: block;
	padding: 15px;
}

#mobile-nav a {
	font-size: 20px;
	text-transform: lowercase;
	text-decoration: none;
	color: black;
}

#mobile-nav a:hover {
	color: #ba0913;
}

#burger {
	display: none;
	float: right;
	margin: 20px 20px 0 0;
}

.line {
	border: 1px solid black;
	width: 25px;
	margin-top: 5px;
}


hr {
	margin-right: 17.5vw;
	margin-left: 17.5vw;
}



#vision-text {
	margin-left: 10vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    width: 42vw;
    text-align: left;
    font-size: 22px;
}

#vision img {
	margin: 0;
	float: right;
	width: 68%;
	padding-bottom: 50px;
}

#work {
	padding-top: 50px;
}

.activity {
	padding-bottom: 12vw;
}

.rectangle {
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 246px;
    height: 246px;
    content: ".";
    position: absolute;
    display: inline-block;
    float: left;
    left: 10vw;
    z-index: -1;
}

.workImg {
	position: relative;
	width: 250px;
    float: left;
    left: 14vw;
    top: 4vw;
}

.activity h2 {
	display: inline-block;
    float: left;
    margin-top: 0;
    margin-left: 16vw;
}

.activity p {
	display: inline-block;
    margin-left: 20vw;
    width: 40vw;
}

#prodRec {
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 246px;
    height: 246px;
    content: ".";
    position: absolute;
    display: inline-block;
    float: right;
    right: 10vw;
    z-index: -1;
}

#prodImg {
	position: relative;
	width: 250px;
    float: right;
    right: 14vw;
    top: 4vw;
}

#production h2 {
	display: inline;
    float: right;
    margin-top: 0;
    margin-right: 15vw;
}

#production p {
	display: inline-block;
    margin-left: 13vw;
    width: 40vw;
}

#upcoming-image h1 {
	float: right;
	transform-origin: 75% 50%;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#upcoming-image {
	overflow: auto;
    display: inline;
}

#upcoming img {
	float: right;
    display: inline-block;
    width: 77vw;
}

.upcoming-info {
	margin-left: 23vw;
    width: 60vw;
    text-align: left;
    padding: 1vw;
}

#click-details p {
	display: inline-block;
	padding-bottom: 10px;
}

.icon {
	height: 30px;
}

footer {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

footer hr {
	width: 70%;
	margin: 0 auto;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer li {
	display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}


/******************* BEGIN MEDIA QUERIES ******************/ 

@media screen and (max-width: 1024px) {

	#burger {
		display: block;
	}

	#desktop-nav {
		display: none;
	}

	#mobile-nav {
		display: block;
	}
}

@media screen and (max-width: 850px) {

	#desktop-h1 {
		display: none;
	}

	#mobile-h1 {
		display: block;
		margin-top: 2vw;
	}

	header img {
		padding-top: 0;
		width: 75%;
	}

	#vision-text {
		margin-left: 15vw;
		margin-right: 15vw;
		width: 70vw;
	}

	#vision img {
		width: 85%;
	}

	.image-rectangle {
		height: 75vw;
	}

	.workImg {
		width: 60vw;
    	left: 25vw;
    	top: 10vw;
	}

	.rectangle {
		width: 60vw;
    	height: 60vw;
    	left: 15vw;
	}

	.activity h2 {
		display: block;
		margin-left: 15vw;
		float: none;
	}
	
	.activity p {
		display: block;
		margin-left: 15vw;
		width: 70vw;
		float: none;
	}

	#prodImg {
		width: 60vw;
    	left: 25vw;
    	top: 10vw;
    	float: none;
	}

	#prodRec {
		width: 60vw;
    	height: 60vw;
    	left: 15vw;
	}

	#production h2 {
		display: block;
		margin-left: 15vw;
		float: none;
	}
	
	#production p {
		display: block;
		margin-left: 15vw;
		width: 70vw;
		float: none;
	}

}

@media screen and (max-width: 515px) {
	#upcoming img {
    width: 70vw;
}

}



/*

width: 100%;
max-width: ***px;
box-sizing: border-box;

USE TRANSITION PROPERTY TO PAD MEDIA QUERIES** NOT ANIMATIONS

*/
